@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Roboto+Condensed:wght@300&display=swap');

body {
  background-color: lightblue;
  color: darkblue;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

a{
  color: white;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.avatar {
  width: 400px;
  margin-top: 70px;
}

.header{width: 100%;
position: fixed;
}

.header>div {
  float: left;
  background-color: darkblue;
  color: white;
  height: 50px;
  width: 16%;
  box-shadow: 3px 3px 3px 3px grey;
  box-sizing: border-box;
  border-radius: 0px 0px 10px 10px;
  margin-right: 5px;
  top: 0px;
}

.container {
  max-width: 1000px;
  margin: auto;
}





a:hover {
  text-decoration: underline;
}
a:active {
  color: blue;
}
a:visited {
  color: grey;
}

.info p {
  color: #86898f;
}
/*.social{
    background: yellowgreen;
    padding: 30px;
    border: 5px solid blue;
    margin: 50px;
}
.container{
    max-width: 50%;
    margin: auto;*/
.card {
  padding: 20px 30px;
  background: yellow;
  margin-bottom: 30px;
}
.table {
  width: 100%;
}
.table td {
  padding-bottom: 20px;
}
.vvod input {
  font-family: inherit;
  background: transparent;
  color: #000;
}
.row {
  display: flex;
  margin-bottom: 20px;
}
.row > .vvod{
    width: 50%;
}
