@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Roboto+Condensed:wght@300&display=swap');

body {
  background-color: lightblue;
  color: darkblue;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

a{
  color: grey;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.avatar {
  width: 400px;
  margin-top: 70px;
}

.header{
width: 1200px;
position: fixed;
}

.header>div {
  float: left;
  background-color: darkblue;
  color: white;
  height: 50px;
  width: 16%;
  box-shadow: 3px 3px 3px 3px grey;
  box-sizing:border-box;
  border-radius: 0px 0px 10px 10px;
  margin-right: 5px;
  text-align: center;
  padding-top: 12px;
}

.container {
  max-width: 1000px;
  margin: auto;
}

#link1 {
  color: white;
  text-decoration: none;
}
#link2 {
  color: white;
  text-decoration: none;
}
#link3 {
  color: white;
  text-decoration: none;
}
#link4 {
  color: white;
  text-decoration: none;
}
#link5 {
  color: white;
  text-decoration: none;
}
#link6 {
  color: white;
  text-decoration: none;
}