@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Roboto+Condensed:wght@300&display=swap');

body {
  background-color: lightblue;
  color: darkblue;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

a{
  color: grey;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.nav{
width: 1200px;
position: fixed;
}

.nav>div {
  float: left;
  background-color: darkblue;
  background-image: linear-gradient(170deg, lightblue, darkblue);
  color: white;
  height: 50px;
  width: 16%;
  box-shadow: 3px 3px 3px 3px grey;
  box-sizing:border-box;
  border-radius: 0px 0px 10px 10px;
  margin-right: 5px;
  text-align: center;
  padding-top: 12px;
}

.nav a{
  color: white;
  text-decoration: none;
}

.container {
  float: left;
  max-width: 1000px;
  margin-left: 20%;
  margin-right: 20%;
}

.container li{
  list-style: none;
}

.avatar{
  width: 400px;
  margin-top: 70px;
  margin-left: 40px;
  float: left;
}

.header{
  overflow: hidden;
  padding-top: 250px;
  padding-left: 100px;
}